{% extends 'main/base.html' %}

{% block title %}Список учеников{% endblock %}

{% block content %}
<div class="page-header">
    <h2 style="font-weight: 400; font-size: 20px; margin: 0;">
        Список учеников
        {% if students_count is not None %}
            <span style="color: var(--text-secondary); font-size: 20px;">({{ students_count }})</span>
        {% endif %}
    </h2>
    <a href="{% url 'student_create' %}" class="btn">+ Создать ученика</a>
</div>

{% if students %}
    <div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <!-- <th>Класс</th> -->
                <!-- <th class="table-mobile-hide">Телефон</th> -->
                <th class="table-mobile-hide">Телеграм</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td><a href="{% url 'student_detail' student.pk %}">{{ student.first_name }}</a></td>
                <td>{{ student.last_name }}</td>
                <!-- <td>{{ student.grade|default:"—" }}</td> -->
                <!-- <td class="table-mobile-hide">{{ student.phone|default:"—" }}</td> -->
                <td class="table-mobile-hide"><a href="tg://resolve?domain={{ student.telegram }}" >{{ student.telegram|default:"—" }}</a></td>
            </tr>
            {% endfor %}
        </tbody>    
    </table>
    </div>
{% else %}
    <div class="empty-state">
        <p>Пока нет учеников в системе</p>
    </div>
{% endif %}
{% endblock %}

